<h1>Here are the Results of Your Evaluation</h1>

Steps: <%= @averages[:steps] %>

<br>

Leaps: <%= @averages[:leaps] %>

<br>

Range: <%= @averages[:range] %>
<br>

Repeated_notes: <%= @averages[:repeated_notes] %>
<br>

Intervals: <%= @averages[:intervals] %>
<br>

Consecutive_steps: <%= @averages[:consecutive_steps] %>

<br>
Consecutive_steps_up: <%= @averages[:consecutive_steps_up] %>
<br>

Consecutive_steps_down: <%= @averages[:consecutive_steps_down] %><br>

Percentage_of_leaps: <%= @averages[:percentage_of_leaps] %><br>

Percentage_of_steps: <%= @averages[:percentage_of_steps] %>
