


<p>
Raw Notes <%= @raw_notes %>
<br>
In the key of <%= @key %>
<br>
Here are your notes:
<% @cantusfirmus.each do |note| %>
<%= note %>
  &nbsp;
<% end %>
<br>
Score for this phrase <%= @raw_score %>
</p>

<div class="vex-tabdiv"
width=1000 scale=1.0 editor="false"
>options space=20
tabstave
notation=true
tablature=false
key=<%= @key %> time=4/4

notes :w <%= @cantusfirmus.join(" | ") %>

options space=25
</div>

<p>
Example Scores:

<br>

<% @example_scores.each do |score| %>
<%= score %>
<br>

<% end %>
